:root {
  --primary-white-bgcolor: #ffffff;
  --secondary-bg-color: #2f303a;
  --subordinate--bg-color: #f5f4fa;
  --spare-bg-color: #c4c4c4;
  --spare-transparency-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --border-gallery-color: #eeeeee;
  --border-form-color: rgba(33, 33, 33, 0.2);
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-text-color: #2196f3;
  --part-logo-color: #2196f3;
  --button-hover-color: #188ce8;
  --subordinate-color: #afb1b8;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --black-color: #000000;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --link-transparency-bg: rgba(255, 255, 255, 0.1);
  --card-grid-item: 1;
  --card-grid-width: 30px;
  --main-font-family: "roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page {
  color: var(--primary-text-color);
  background-color: var(--primary-white-bgcolor);
  font-family: var(--main-font-family);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.card-set {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .card-set {
    --card-grid-item: 2;
  }
}
@media (min-width: 1200px) {
  .card-set {
    --card-grid-item: 4;
  }
}

.card-set__item {
  flex-basis: calc((100% - (var(--card-grid-item) - 1) * var(--card-grid-width)) / var(--card-grid-item));
}

@media (max-width: 767.98px) {
  .contact__list {
    margin-top: auto;
    display: block;
  }
}
@media (min-width: 768px) {
  .contact__list {
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .contact__list {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__icon {
  display: none;
}
@media (min-width: 768px) {
  .contact__icon {
    display: block;
    width: 16px;
    height: 12px;
    margin-right: 8px;
    fill: currentColor;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
@media (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.contact__link:hover, .contact__link:focus {
  color: var(--hover-text-color);
}

.contact__link.phone {
  color: var(--hover-text-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contact__link.mail {
  color: var(--secondary-text-color);
  font-size: 24px;
  letter-spacing: 0.02em;
}

@media (max-width: 767.98px) {
  .contact__item {
    margin-top: 32px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .main-nav__list {
    margin-left: 88px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    margin-left: 93px;
  }
}

.main-nav__item {
  position: relative;
}

@media (max-width: 767.98px) {
  .main-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .main-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.main-nav__link {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.main-nav__link:hover, .main-nav__link:focus {
  color: var(--hover-text-color);
}

.current__link {
  color: var(--hover-text-color);
}
@media (min-width: 768px) {
  .current__link::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-text-color);
  }
}

.logo {
  color: var(--part-logo-color);
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo--dark {
  color: var(--black-color);
}

.logo--light {
  color: var(--primary-white-bgcolor);
}

.button {
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--primary-white-bgcolor);
  border: none;
  background: var(--hover-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.order__button {
  margin: 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 32px;
}
.order__button:hover, .order__button:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__button {
  padding: 10px 29px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1199.98px) {
  .subscribe__button {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
  }
}

.connect__button {
  margin: 0 auto;
  padding: 10px 55px;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__button:hover, .connect__button:focus {
  background-color: var(--button-hover-color);
}

.social-list {
  display: flex;
  gap: 10px;
}

.team__social-list {
  justify-content: center;
  margin-top: 16px;
}

.footer__social-list {
  margin-top: 20px;
  justify-content: center;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--hover-text-color);
}

.social__link--bg {
  background-color: var(--link-transparency-bg);
}

.social__icon {
  width: 20px;
  height: 20px;
}
.social__icon--gray {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--subordinate-color);
}
.social__link:hover .social__icon--gray, .social__link:focus .social__icon--gray {
  fill: var(--primary-white-bgcolor);
}

.social__icon--white {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-bgcolor);
}

.address {
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--primary-white-bgcolor);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.adress__contact {
  margin-top: 8px;
  color: var(--spare-transparency-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
  text-decoration-line: none;
}
@media (min-width: 1200px) {
  .adress__contact {
    margin-top: 8px;
  }
}

.follow {
  display: block;
}
@media (max-width: 1199.98px) {
  .follow {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .follow {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .follow {
    margin-left: 70px;
  }
}

.follow__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-bgcolor);
}

@media (max-width: 1199.98px) {
  .subscribe {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-bgcolor);
  display: flex;
  justify-content: center;
}

.subscribe__form {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .subscribe__form {
    display: flex;
  }
}

.subscribe__input {
  color: var(--primary-white-bgcolor);
  max-width: 450px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--spare-transparency-color);
}

.icon__send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media (min-width: 1200px) {
  .gallery__list {
    --card-grid-item: 3;
  }
}

.gallery__link {
  text-decoration-line: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover, .gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-card {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.gallery-card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover .gallery-card::before, .gallery__link:focus .gallery-card::before {
  transform: translateY(0);
}

.gallery-card__text {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-bgcolor);
  margin: 0;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover .gallery-card__text, .gallery__link:focus .gallery-card__text {
  transform: translateY(0);
}

.gallery-card__annex {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-grow: 1;
  border-bottom: 1px solid var(--border-gallery-color);
  border-right: 1px solid var(--border-gallery-color);
  border-left: 1px solid var(--border-gallery-color);
}

.gallery-card__subtitle {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration-line: none;
}

.gallery-card__development {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), transform 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  max-width: 450px;
  width: 100%;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3);
}

.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button__icon {
  width: 18px;
  height: 18px;
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__close:hover .button__icon, .button__close:focus .button__icon {
  fill: var(--hover-text-color);
}

.form {
  width: 100%;
}

.form__title {
  margin-bottom: 12px;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}
@media (min-width: 1200px) {
  .form__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
}
.form__field + .form__field {
  margin-top: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
@media (min-width: 1200px) {
  .form__label {
    line-height: 1.14;
  }
}

.form__wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 11px;
  pointer-events: none;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon {
  fill: var(--hover-text-color);
}

.form__input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid var(--border-form-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  outline: none;
  border-color: var(--button-hover-color);
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid var(--border-form-color);
  border-radius: 4px;
  resize: none;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__textarea:focus {
  outline: none;
  border-color: var(--button-hover-color);
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.checkbox__wrap {
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__policy:checked + .checkbox__wrap {
  border-color: var(--hover-text-color);
  background-color: var(--hover-text-color);
}
.checkbox__policy:focus ~ .checkbox__wrap {
  border-color: var(--hover-text-color);
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  fill: var(--primary-white-bgcolor);
}

.checkbox__link {
  color: var(--hover-text-color);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 99;
}
@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #ffffff;
  transition: transform 250ms linear;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container__social-list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}

.menu-container__social-link {
  color: var(--hover-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.menu-container__social-link:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--border-form-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}
@media (max-width: 767.98px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (max-width: 767.98px) {
  .header .main-nav__list,
.header .contact__list {
    display: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.hero {
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: var(--spare-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tab2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desc.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desc2x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  text-transform: uppercase;
  color: var(--primary-white-bgcolor);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.feature__field {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--subordinate--bg-color);
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .feature__subtitle {
    text-align: center;
  }
}

.feature__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media (max-width: 1199.98px) {
  .work {
    display: none;
  }
}

.work--padding {
  padding-top: 0;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.work .card-set {
  --card-grid-item: 3;
}

.work__content {
  position: relative;
}

.work__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-bgcolor);
}

.team {
  background-color: var(--subordinate--bg-color);
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team__item {
  background-color: var(--primary-white-bgcolor);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__name {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__position {
  margin-bottom: 0;
  margin-top: 10px;
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.client__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.client .card-set {
  --card-grid-item: 2;
}
@media (min-width: 768px) {
  .client .card-set {
    --card-grid-item: 3;
  }
}
@media (min-width: 1200px) {
  .client .card-set {
    --card-grid-item: 6;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 92px;
  border: 1px solid var(--subordinate-color);
  border-radius: 4px;
}
.client__link:hover, .client__link:focus {
  border-color: var(--hover-text-color);
}

.client__logo {
  width: 120px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--subordinate-color);
}
.client__link:hover .client__logo, .client__link:focus .client__logo {
  fill: var(--hover-text-color);
}

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  align-items: baseline;
}
@media (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

.footer__box {
  display: block;
}
@media (max-width: 1199.98px) {
  .footer__box {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer__wrap {
    display: flex;
    align-items: baseline;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__wrap {
    justify-content: space-around;
  }
}

.filter {
  display: flex;
  margin-bottom: 40px;
  gap: 8px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__btn {
  padding: 6px 22px;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--subordinate--bg-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--primary-white-bgcolor);
  background-color: var(--hover-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */