.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  align-items: baseline;
  @include mq(desc) {
    display: flex;
  }
}

.footer__box {
  display: block;
  @include mq(noDesc) {
    text-align: center;
  }
  @include mq(tab-only) {
    margin-left: auto;
    margin-right: 165px;
  }
}

.footer__wrap {
  @include mq(tab) {
    display: flex;
    align-items: baseline;
  }
}
