.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  align-items: baseline;
  @include mq(desc) {
    display: flex;
  }
}

.footer__box {
  display: block;
  @include mq(noDesck) {
    text-align: center;
  }
}

.footer__wrap {
  @include mq(tab) {
    display: flex;
    align-items: baseline;
  }
  @include mq(tab-only) {
    justify-content: space-around;
  }
}
