.header {
  border-bottom: 1px solid var(--border-color);
  @include mq(mob-only) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}
