.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter .filter__item:not(:last-child) {
  margin-right: 9px;
}

.filter__btn {
  padding: 6px 22px;
  text-align: center;

  color: var(--primary-text-color);
  background-color: var(--subordinate--bg-color);
  @include font(16px, 500, 1.6, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.6;

  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 4px;

  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-white-bgcolor);
    background-color: var(--hover-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
