.button {
  font-style: normal;
  @include font(16px, 700, 1.88, 0.06em);
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  // letter-spacing: 0.06em;
  color: var(--primary-white-bgcolor);
  border: 1px solid transparent;

  background: var(--hover-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.order__button {
  margin: 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 32px;
  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.subscribe__button {
  padding: 10px 29px;
}

.connect__button {
  margin: 0 auto;
  padding: 10px 55px;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }
}
