.contact__list {
  display: flex;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: currentColor;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--secondary-text-color);
  @include font(14px, 500, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  text-decoration-line: none;
  &:hover,
  &:focus {
    color: var(--hover-text-color);
  }
}
