.contact__list {
  @include mq(mob-only) {
    margin-top: auto;
    display: block;
  }
  @include mq(tab) {
    margin-left: auto;
  }

  @include mq(desc) {
    display: flex;
  }
}

.contact__item:not(:last-child) {
  @include mq(tab-only) {
    margin-bottom: 10px;
  }
  @include mq(desc) {
    margin-right: 30px;
  }
}

.contact__icon {
  display: none;
  @include mq(tab) {
    display: block;
    width: 16px;
    height: 12px;
    margin-right: 10px;

    fill: currentColor;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  @include mq(desc) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--secondary-text-color);
  @include font(14px, 500, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  text-decoration-line: none;
  &:hover,
  &:focus {
    color: var(--hover-text-color);
  }
}

.contact__link.phone {
  color: var(--hover-text-color);
  @include font(34px, 500, 1.76, 0.02em);
}

.contact__link.mail {
  color: var(--secondary-text-color);
  @include font(24px, 500, 1.16, 0.02em);
}
