.follow {
  margin-left: 70px;
}

.follow__text {
  margin-top: 0;
  margin-bottom: 0;
  @include font(14px, 700, 1.14, 0.03em);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-bgcolor);
}
