.form {
  width: 100%;
}

.form__title {
  margin-bottom: 12px;
  display: block;

  @include font(20px, 700, 1.15, 0.03em);
  // font-weight: 700;
  // font-size: 20px;
  // line-height: 1.15;
  text-align: center;
  // letter-spacing: 0.03em;
}

.form__field {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 10px;
  }
}

.form__label {
  margin-bottom: 4px;

  @include font(12px, 400, 1.14, 0.01em);
  // font-weight: 400;
  // font-size: 12px;
  // line-height: 1.14;

  // letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form__wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 11px;
  pointer-events: none;
  transform: translateY(-50%);
  fill: var(--primary-text-color);

  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:focus + & {
    fill: var(--hover-text-color);
  }
}

.form__input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid var(--border-form-color);
  border-radius: 4px;

  cursor: pointer;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--button-hover-color);
  }
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 15px;

  @include font(14px, 400, 1.14, 0.01em);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.01em;
  border: 1px solid var(--border-form-color);
  border-radius: 4px;
  resize: none;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: var(--button-hover-color);
  }
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  @include font(14px, 400, 1.71, 0.03em);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;

  // letter-spacing: 0.03em;
}

.checkbox__wrap {
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox__policy:checked + & {
    border-color: var(--hover-text-color);
    background-color: var(--hover-text-color);
  }
  .checkbox__policy:focus ~ & {
    border-color: var(--hover-text-color);
  }
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  fill: var(--primary-white-bgcolor);
}

.checkbox__link {
  color: var(--hover-text-color);
}
