.logo {
  color: var(--part-logo-color);

  font-family: var(--secondary-font-family);
  @include font(26px, 700, 1.19, 0.03em);
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;

  text-decoration-line: none;
}

.logo--dark {
  color: var(--black-color);
}

.logo--light {
  color: var(--primary-white-bgcolor);
}
