.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;
  margin-left: 93px;
}

.main-nav__item {
  position: relative;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primary-text-color);
 @include font(14px, 500, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  text-decoration-line: none;

  &:hover,
  &:focus {
    color: var(--hover-text-color);
  }
}
