.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &.is-open {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 99;
  }
  @include mq(tab) {
    display: none;
  }
}

.icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #ffffff;
  transition: transform 250ms linear;
  &.is-open {
    transform: translateX(0);
  }
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.menu-container__social-list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}

.menu-container__social-link {
  color: var(--hover-text-color);
  @include font(18px, 500, 1.22, 0.02em);
}
.menu-container__social-link:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--border-form-color);
}
