.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3);
}

.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button__icon {
  width: 18px;
  height: 18px;
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button__close:hover &,
  .button__close:focus & {
    fill: var(--hover-text-color);
  }
}
