.card-set {
  display: flex;
  gap: 30px;
}

.card-set__item {
  flex-basis: calc(
    (
      (100% - ((var(--card-grid-item) - 1) * var(--card-grid-width))) /
        var(--card-grid-item)
    )
  );
}
