.card-set {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  @include mq(tab) {
    --card-grid-item: 2;
  }
  @include mq(desc) {
    --card-grid-item: 4;
  }
}

.card-set__item {
  flex-basis: calc(
    (
      (100% - ((var(--card-grid-item) - 1) * var(--card-grid-width))) /
        var(--card-grid-item)
    )
  );
}
