:root {
  --primary-white-bgcolor: #ffffff;
  --secondary-bg-color: #2f303a;
  --subordinate--bg-color: #f5f4fa;
  --spare-bg-color: #c4c4c4;
  --spare-transparency-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --border-gallery-color: #eeeeee;
  --border-form-color: rgba(33, 33, 33, 0.2);
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-text-color: #2196f3;
  --part-logo-color: #2196f3;
  --button-hover-color: #188ce8;
  --subordinate-color: #afb1b8;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --black-color: #000000;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --link-transparency-bg: rgba(255, 255, 255, 0.1);
  --card-grid-item: 4;
  --card-grid-width: 30px;
  --main-font-family: "roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}
